ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  max-width: 71.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.35765%;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

ul.pictures {
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  /*
  columns: 300px 3;
  -moz-columns: 300px 3;
  -webkit-columns: 300px 3;
  */
}

ul.pictures > article img {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul.pictures > article > li {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  padding: 2.35765%;
  background: #eee;
  border: 1px solid #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul.pictures li span {
  position: absolute;
  margin: 2.35765%;
  top: 71%;
  padding: 2.35765%;
  opacity: .8;
}

ul.pictures li span p {
  margin: 0;
  padding: 20px;
  background-color: #fff;
}

button {
  background-color: #eaeaea;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #999;
}

.file-input {
  display: none;
}

.comments {
  padding-left: 10px;
  border-left: 6px solid #777;
  margin-top: 10px;
}

.comments li {
  margin: 10px 0;
}

.comments input {
  padding: 8px;
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
