<section>
  <h1>Pictures</h1>
  <h3><a href="#upload">Upload an image</a></h3>
  <p>Search: <input ng-model="query"></p>
  <p>Total pictures: {{ pictures.length || 0 }}</p>
  <h3>{{ query ? "Filtered by: " + query : "" }}</h3>
  <h3>{{ query ? "Number of results: " + filtered.length : "" }}</h3>
  <ul class="pictures">
    <article>
      <li ng-show="pictures" ng-repeat="picture in filtered = (pictures | filter:query | orderBy:orderProp)">
        <a href="#/pictures/{{ picture._id }}"><img ng-src="uploads/{{ picture.src }}"></a>
        <!--<a href="#/pictures/{{ picture._id }}"><span><p>{{ picture.caption }}</p></span></a>-->
        <div class="comments">
          <ul>
            <li ng-repeat="comment in picture.comments | orderBy:-date">
              <strong>{{ comment.name }}: </strong>
              {{ comment.body }}
            </li>
          </ul>
          <input placeholder="Write a comment..."  ng-keyup="$event.keyCode == 13 && submitComment($event)" ng-model="comment">
        </div>
      </li>
    </article>
  </ul>
</section>
