<section>
  <header>
    <h1 class="title">Live Stream</h1>
    <button ng-hide="!user" type="button" href="" ng-click="logout()">Log out</button>
    <button ng-hide="user" type="button" href="" ng-click="login()">Log in</button>
    <div class="clear"></div>
  </header>
  <button class="button" type="button" onclick="document.getElementById('file').click();">Upload an image</button>
  <input id="file" class="file-input" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
  <h3 class="total">Total pictures: {{ pictures.length || 0 }}</h3>
  <ul class="pictures">
    <article>
      <li class="default" ng-class="{fadeIn: !fading}" ng-show="pictures" ng-repeat="picture in pictures | orderBy: orderProp">
        <a ng-href="/pictures/{{ ::picture._id }}"><img image-load="imageLoaded($event)" ng-src="{{ ::picture.src }}"></a>
        <div class="comments">
          <ul>
            <li ng-repeat="comment in picture.comments | orderBy:-date">
              <strong>{{ ::comment.name }}: </strong>
              {{ ::comment.body }}
            </li>
          </ul>
          <input ng-hide="!user" type="text" placeholder="Write a comment..."  ng-keyup="$event.keyCode == 13 && submitComment($event)" ng-model="comment">
          <button ng-hide="user" ng-click="login()" type="button">Sign in to comment</button>
        </div>
      </li>
    </article>
  </ul>
  <aside>
    <div id="lightbox" class="lightbox"></div>
  </aside>
</section>
