@import "../bourbon/bourbon";
@import "../bitters/grid-settings"; // grid framework - config
@import "../bitters/base";
@import "../neat/neat";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  max-width: 71.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.35765%;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 3.75em;
  line-height: 1;
  margin-bottom: .5em;
}   

h2 {
  font-size: 2em;
  font-weight: 300;
}  

.clear {
  clear: both;
}
